

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background: white;
}

header.header {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
header.header h1 {
  font-size: 8rem;
  color: black;
  text-align: center;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 900;
}

header.header h2 {
  display: block;
  font-size: 4rem;
  text-align: center;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: 900;
}
header.header h3 {
  display: block;
  font-size: 2rem;
  text-align: left;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: 900;
}

.glitch-window {
  position: absolute;
  top: 0;
  left: -2px;
  width: 100%;
  color: #25c5d4;
  overflow: hidden;
  -webkit-animation: crt-me 2500ms infinite linear alternate-reverse;
          animation: crt-me 2500ms infinite linear alternate-reverse;
}

@-webkit-keyframes crt-me {
  0% {
    clip: rect(31px, 9999px, 94px, 0);
  }
  10% {
    clip: rect(112px, 9999px, 76px, 0);
  }
  20% {
    clip: rect(85px, 9999px, 77px, 0);
  }
  30% {
    clip: rect(27px, 9999px, 97px, 0);
  }
  40% {
    clip: rect(64px, 9999px, 98px, 0);
  }
  50% {
    clip: rect(61px, 9999px, 85px, 0);
  }
  60% {
    clip: rect(99px, 9999px, 114px, 0);
  }
  70% {
    clip: rect(34px, 9999px, 115px, 0);
  }
  80% {
    clip: rect(98px, 9999px, 129px, 0);
  }
  90% {
    clip: rect(43px, 9999px, 96px, 0);
  }
  100% {
    clip: rect(82px, 9999px, 64px, 0);
  }
}

@keyframes crt-me {
  0% {
    clip: rect(31px, 9999px, 94px, 0);
  }
  10% {
    clip: rect(112px, 9999px, 76px, 0);
  }
  20% {
    clip: rect(85px, 9999px, 77px, 0);
  }
  30% {
    clip: rect(27px, 9999px, 97px, 0);
  }
  40% {
    clip: rect(64px, 9999px, 98px, 0);
  }
  50% {
    clip: rect(61px, 9999px, 85px, 0);
  }
  60% {
    clip: rect(99px, 9999px, 114px, 0);
  }
  70% {
    clip: rect(34px, 9999px, 115px, 0);
  }
  80% {
    clip: rect(98px, 9999px, 129px, 0);
  }
  90% {
    clip: rect(43px, 9999px, 96px, 0);
  }
  100% {
    clip: rect(82px, 9999px, 64px, 0);
  }
}
.inspiration-button {
  font-family: 'Lato', sans-serif;

   			left: 45%;
   			-webkit-transform: translate(-50%, 0%);
   					transform: translate(-50%, 0%);
   			color: #222222;
   			text-decoration: none;
   			padding: 0.75rem 1rem;
   			border-radius: 80px;
        background: white;
        -webkit-transition: -webkit-transform 250ms ease;
   			transition: -webkit-transform 250ms ease;
   			transition: transform 250ms ease;
   			transition: transform 250ms ease, -webkit-transform 250ms ease;
 }

 .inspiration-button2 {
  font-family: 'Lato', sans-serif;

    			left: 52%;
    			-webkit-transform: translate(-50%, 0%);
    					transform: translate(-50%, 0%);
    			color: #222222;
    			text-decoration: none;
    			padding: 0.75rem 1rem;
    			border-radius: 80px;
    			background: white; 			
    			-webkit-transition: -webkit-transform 250ms ease;
    			transition: -webkit-transform 250ms ease;
    			transition: transform 250ms ease;
    			transition: transform 250ms ease, -webkit-transform 250ms ease;
  }
.inspiration-button:hover, .inspiration-button:focus, .inspiration-button:active {
  -webkit-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
}
.inspiration-button2:hover, .inspiration-button2:focus, .inspiration-button2:active {
  -webkit-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
}

.button {
  /*background-color: #4CAF50; /* Green */
  background-color: #4f987a;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.button:hover
{
background-image:none;
background-color:#3e765f;
}

.button2 {
  /*background-color: #4CAF50; /* Green */
  background-color: white;
  border: none;
  color: #6b868e;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.button2:hover
{
background-image:none;
color:white;
background-color:#6b868e;
}

.btn-group a {
  background-color: white; /* Green background */
  border: none; /* Green border */
  color: #6b868e; /* White text */
  padding: 15px 20px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.btn-group a:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group a:hover {
  color: white;
  background-color: #6b868e;
}